.food-container {
  display: flex;
  align-items: center;       
  justify-content: space-evenly;
  max-width: 1200px;
  height: 120px;              
  margin: 30px auto;
}

.food-container img {
  height: 60px;               
  width: auto;
}

.food-container img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
